test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

temp

# -ize projects
Analyze
Anarchize
Apologize
Appetize
Atomize
Authorize
Automize
Banalize
Catalyze
Colonize
Communize
Conceptualize
Criticize
Customize
Dehumanize
Democratize
Demonize
Denormalize
Depolarize
Desensitize
Disorganize
Equalize
Fantasize
Finalize
Glamorize
Globalize
Harmonize
Humanize
Hybridize
Idealize
Incentivize
Legalize
Localize
Marginalize
Minimize
Mobilize
Monetize
Naturalize
Neutralize
Optimize
Sacralize
Spiralize
Synthesize
Systemize
Universalize
Vocalize
